<div class="view">
	<div class="main-content" ng-init="getProblems()">
		<div class="wrap-sidebar">
			<div class="navbar navbar-default sidebar-left">
				<div class="container">
					<div class="collapse navbar-collapse" ng-model="problems">
						<ul class="" ng-repeat="problem in problems"
							style="padding-top: 10px">
							<a href=""><button type='button'
									class="{{getClassName($index)}}"
									ng-click="changeProblemView(problem)">{{problem.problemName}}</button></a>
						</ul>

					</div>
				</div>
			</div>
		</div>
		<div class="wrap-centerbar" ng-model="selectedProblem">

			<div class="navbar navbar-default sidebar-center"
				style="padding-left: 20px; padding-top: 14px">
				<div class="alert alert-warning"
					style="width: 98%; margin-top: 20px; position: relative;"
					ng-show="returnMessage !== ''">
					<center ng-bind="returnMessage"></center>
				</div>
				<h1 style="text-align: center">{{ selectedProblem.problemName
					}}</h1>
				<a href="{{getStatementLink()}}" download="statement.pdf"><button
						type="button" class="btn btn-success">Download Statement</button></a>
				<br> <br> <a href="#"><button type="button"
						class="btn btn-success">Send Clarification</button></a> <br> <br>
				<form class="form" action="" ng-submit="submitSolution()"
					enctype="multipart/form-data">
					<div class="form-group">
						<label for="statement-file">Solution File</label> <input
							type="file" file-model="submissionData.file">
						<p class="help-block">
							Upload Your Solution!<br>Your file must match one of the
							types: {cpp, c, py, java}
						</p>
					</div>
					<button type="submit" class="btn btn-success" name="submitsol">Submit</button>
				</form>
				<br> <br> <br>
				<div class="panel panel-primary" style="width: 98%">
					<!-- Default panel contents -->
					<div class="panel-heading" style="text-align: center">
						<a class="btn pull-left btn-warning btn-xs"
							ng-click="getSubmissions()">Refresh</a> Submissions
					</div>

					<!-- Table -->
					<table class="table table-striped">
						<thead>
							<tr>
								<th>ID</th>
								<th>Points</th>
								<th>Result</th>
								<th>Details</th>
								<th>Code</th>
							</tr>
						</thead>

						<tbody ng-model="submissions">
							<tr class=""
								ng-repeat="submission in submissions | orderBy: 'date':true">
								<td>{{ submission.id }}</td>
								<td>{{ submission.points }}</td>
								<td>{{ submission.status }}</td>
								<td>{{ submission.details }}</td>
								<td><a href="{{getCodeLink(submission.id)}}"
									download="{{'code.' + submission.language}}"><button
											type="button" class="btn btn-success">{{'code.' +
											submission.language}}</button></a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<br>
			</div>
		</div>
	</div>
</div>