<div class="view">
	<div class="container">
		<div class="alert alert-danger" style="margin-top: 20px;" ng-model="returnMessage" ng-show="returnMessage !== ''">
			<center ng-bind="returnMessage"></center>
		</div>
		<form class="form-signin" action="" ng-submit="login(credentials)"
			novalidate>
			<h2 class="form-signin-heading" style="text-align: center">Sign
				In!</h2>
			<br> <input type="text" class="form-control" name="username"
				ng-model="credentials.username" placeholder="Username" autofocus>
			<input type="password" class="form-control" name="password"
				ng-model="credentials.password" placeholder="Password"> <br>
			<label class="checkbox"> <input type="checkbox"
				value="remember-me" name="rememberme"> Remember me
			</label> <br>
			<button class="btn btn-lg btn-primary btn-block" type="submit"
				name="login">Sign in</button>
			<a class="btn btn-lg btn-primary btn-block" href="#/register">Register</a>
		</form>
	</div>
</div>
